version: "3.9"

services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: ${APP_NAME}_app
    restart: unless-stopped
    depends_on:
      - postgres
      - redis
    networks:
      - laravel

  postgres:
    image: postgres:15
    container_name: ${APP_NAME}_postgres
    restart: unless-stopped
    environment:
      POSTGRES_DB: ${DB_DATABASE}
      POSTGRES_USER: ${DB_USERNAME}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
    ports:
      - "${DB_PORT}:${DB_PORT}"
    volumes:
      - /var/log/ojas-backend:/var/www/storage/logs
      - pgdata:/var/lib/postgresql/data
      - public_data:/var/www/public
      - storage_data:/var/www/storage
      - cache_data:/var/www/bootstrap/cache
    networks:
      - laravel

  redis:
    image: redis:7-alpine
    command: redis-server --requirepass ${REDIS_PASSWORD}
    container_name: ${APP_NAME}_redis
    restart: unless-stopped
    environment:
      - REDIS_PASSWORD=${REDIS_PASSWORD}
    ports:
      - "${REDIS_PORT}:${REDIS_PORT}"
    networks:
      - laravel

  nginx:
    image: nginx:alpine
    container_name: ${APP_NAME}_nginx
    restart: unless-stopped
    ports:
      - "8000:80"
    volumes:
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf
      - .:/var/www
    depends_on:
      - app
    networks:
      - laravel

networks:
  laravel:

volumes:
  pgdata:
  public_data:
  storage_data:
  cache_data: